.faq-section {
  padding: 41px 0 60px;
  background: $color-gray-bg;

  @media (min-width: 768px) {
    padding: 59px 0 60px;
  }
}

.faq-section__inner {
  @include page-inner();
}

.faq-section__title {
  @include section-title();
  margin-top: 0;
  margin-bottom: 0;
}
