.income-calculator {
  max-width: 783px;
  margin: 20px auto 0;
  background: $color-white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 0 0 30px;

  @media (min-width: 768px) {
    margin: 24px auto 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}

.income-calculator__swipe-hint {
  font-size: 11px;
  font-style: italic;
  line-height: 1.81em;
  position: relative;
  margin: 8px 16px 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.income-calculator__swipe-hint::after {
  content: "";
  width: 18px;
  height: 9px;
  position: absolute;
  right: -1px;
  top: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.5h17m0 0L13.483 1M17 4.5L13.483 8' stroke='%23565656'/%3E%3C/svg%3E");
}

.income-calculator__form-label {
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.income-calculator__type {
  padding: 0 16px 0;

  @media (min-width: 768px) {
    padding: 22px 40px 0;
  }
}

.income-calculator__type-radios {
  display: flex;
  margin: 7px -16px 0;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  overflow-x: auto;

  @media (min-width: 768px) {
    margin: 6px 0 0;
    overflow: visible;
    scroll-snap-type: none;
  }
}

.income-calculator__type-label {
  margin-left: 0;
  flex: 1;
  scroll-snap-align: start;
  min-width: 232px;
  padding-left: 20px;

  @media (min-width: 768px) {
    margin-left: 9px;
    min-width: 215px;
  }
}

.income-calculator__type-label:first-child {
  margin-left: 0;
  padding-left: 16px;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.income-calculator__type-label:last-child {
  padding-right: 20px;
}


.income-calculator__radio:checked + .income-calculator__radio-label {
  border: 1px solid $color-brand;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.income-calculator__fieldset {
  border: none;
  margin: 0;
  padding: 20px 40px 33px;
}

.income-calculator__fieldset--inputs {
  display: flex;
  padding: 13px 16px 38px;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 18px 40px 38px;
    flex-direction: row;
  }
}

.income-calculator__input-column {
  flex: 1;
  margin: 0;

  @media (min-width: 768px) {
    margin: 0 0 0 40px;
  }
}

.income-calculator__input-column:first-child {
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}


.income-calculator__fieldset--top-border {
  padding: 17px 40px 30px;
  border-top: 1px solid #c0c0c0;
  text-align: center;
}

.income-calculator__total {
  margin: 0;
  font-size: 16px;
  line-height: 1.15em;
}

.income-calculator__total-value {
  color: $color-brand;
  font-family: $heading-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  display: block;
  margin: 4px 0 0;
}

.income-calculator__total-param {
  color: #a5a5a5;
  display: inline-block;
  margin: 12px 0 0;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.income-calculator__total-param + .income-calculator__total-param {
  @media (min-width: 768px) {
    margin-left: 17px;
  }
}

.income-calculator__param-value {
  color: $color-darkgray-bg;
}

.income-calculator__input {
  appearance: none;
  background: $color-white;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  font-size: 16px;
  font-family: $heading-font;
  line-height: 1.2em;
  display: block;
  width: 100%;
  padding: 9px 13px 10px;
  box-sizing: border-box;
  margin: 6px 0 0;
}

.income-calculator__range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin-top: -1px;
  display: block;
  border-radius: 2px;
}

.income-calculator__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.income-calculator__range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.income-calculator__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: $color-brand;
  cursor: pointer;
  margin-top: -7px;
}

.income-calculator__range::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: $color-brand;
  cursor: pointer;
}

.income-calculator__range::-ms-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: $color-brand;
  cursor: pointer;
}

.income-calculator__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: transparent;
  border: none;
}

.income-calculator__range:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.income-calculator__range::-moz-range-track {
  width: 100%;
  height: 3px;
  background: transparent;
  border: none
}

.income-calculator__range::-ms-track {
  width: 100%;
  height: 3px;
  background: transparent;
  border: none
}

.income-calculator__range::-moz-range-progress {
  background-color: $color-brand;
}

.income-calculator__range::-ms-fill-lower {
  background-color: $color-brand;
}

.income-calculator__cta-btn {
  align-self: center;
  min-width: 330px;
  margin: -11px 0 0;
}
