.income-calculator-section {
  padding: 41px 0 60px;

  @media (min-width: 768px) {
    padding: 60px 0 60px;
    position: relative;
  }
}

.income-calculator-section::before {
  @media (min-width: 768px) {
    content: "";
    display: block;
    position: absolute;
    width: 394px;
    height: 781px;
    background: url("../img/income-calculator-section-bg.png") 0 0 no-repeat;
    background-size: 394px 781px;
    left: 0;
    bottom: -238px;
  }
}

.income-calculator-section__title {
  @include page-inner();
  @include section-title();
  margin-top: 0;
  margin-bottom: 0;
}

.income-calculator-section__disclaimer {
  @include page-inner();
  font-size: 10px;
  position: relative;
  line-height: 1.2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
