.testimonials-section {
  padding: 60px 0 60px;

  @media (min-width: 768px) {
    padding: 40px 0 60px;
  }
}

.testimonials-section__inner {
  @include page-inner();
}

.testimonials-section__title {
  @include section-title();
  margin-top: 0;
  margin-bottom: 0;
}

.testimonials-section__layout {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.testimonials-section__description {
  font-size: 13px;
  line-height: 1.38em;
  padding-top: 19px;

  @media (min-width: 768px) {
    width: 34.67%;
    padding-top: 20px;
  }
}

.testimonials-section__description p {
  font-size: 13px;
  line-height: 1.43em;
  margin: 18px 0 0;

  @media (min-width: 768px) {
    margin: 20px 0 0;
    font-size: 14px;
  }
}

.testimonials-section__description p:first-child {
  margin: 0;
}


.testimonials-section__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 5px 0 0;

  @media (min-width: 768px) {
    margin: 14px 0 0;
  }
}

.testimonials-section__table th {
  font-family: $heading-font;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $color-border;
  padding: 17px 0 17px;
  text-align: left;

  @media (min-width: 768px) {
    padding: 14px 0 13px;
    font-size: 18px;
  }
}

.testimonials-section__table td {
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid $color-border;
  text-align: right;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.testimonials-section__videos {


  @media (min-width: 768px) {
    width: 65.33%;
    padding-left: 50px;
    box-sizing: border-box;
  }
}
