$color-gray-bg: #f6f6f6;
$color-darkgray-bg: #565656;
$color-brand: #cea072;
$color-white: #ffffff;
$color-border: #c4c4c4;

$heading-font: 'Stolzl', Helvetica Neue, Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;



